<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('about.html', {closeMenu: true})">
    <ons-icon icon="fa-building" fixed-width="true"></ons-icon>
    О центре
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('page.html', {closeMenu: true})">
    <ons-icon icon="fa-info-circle " fixed-width="true"></ons-icon>
    О приложении
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('oborud-menu.html', {closeMenu: true})">
    <ons-icon icon="fa-cogs" fixed-width="true"></ons-icon>
    Продукция
  </ons-list-item>
   <ons-list-item class="menu-item" ng-click="menu.setMainPage('news.html', {closeMenu: true})">
    <ons-icon icon="ion-earth" fixed-width="true"></ons-icon>
    Новости
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('gallery.html', {closeMenu: true})">
    <ons-icon icon="ion-images" fixed-width="true"></ons-icon>
    Галерея
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('azimut.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-location" fixed-width="true"></ons-icon>
    Контакты
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('markers.html', {closeMenu: true})">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    Схема проезда
  </ons-list-item>
</ons-list>
