<ons-navigator animation="slide" var="gallery">  
  <ons-page>
    <ons-toolbar modifier="opacity">
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">ПРОДУКЦИЯ ООО «НПЦ АЗИМУТ»</div>
    </ons-toolbar>

    <div class="app-page">
      <div class="app-page-menu">
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('sushka.html');">
              <img src="images/menu/sushka.png">
              <p>Сушка проб</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('obzhig.html');">
              <img src="images/menu/obzhig.png">
              <p>Обжиг проб</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('plavka.html');">
              <img src="images/menu/plavka.png">
              <p>Плавка проб</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('shihtovka.html');">
              <img src="images/menu/shihtovka.png">
              <p>Шихтовка проб</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('kupel.html');">
              <img src="images/menu/kupel.png">
              <p>Купелирование</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
		<ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('korolky.html');">
              <img src="images/menu/korolky.png">
              <p style="line-height:120%;">Разварка корольков <br>и прокалка корточек</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('kapely.html');">
              <img src="images/menu/kapely.png">
              <p>Изготовление капелей</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
		<ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('valcy.html');">
              <img src="images/menu/valcy.png">
              <p>Вальцы</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
  	    <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('shkafy.html');">
              <img src="images/menu/shkafy.png">
              <p>Вытяжные шкафы</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
		<ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('vspomogat.html');">
              <img src="images/menu/vspomogat.png">
              <p style="line-height:120%;">Вспомогательное <br>оборудование</p>
            </ons-button>
          </ons-col>
        </ons-row>
		<br>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('prochee.html');">
              <img src="images/menu/prochee.png">
              <p>Прочее</p>
            </ons-button>
          </ons-col>
        </ons-row>
      </div>

    </div>

  </ons-page>
</ons-navigator>   