<ons-page>
  <ons-toolbar modifier="opacity">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Оборудование для плавки</div>
  </ons-toolbar>

  <div class="app-page">

    <ons-list modifier="categories">
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epsht4.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epsht4/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПШТ-4
              </div>
             
              <div class="desc">
                Электропечь проточная шахтная тигельная на 4 тигля объемом 0,75л предназначена для экспериментальной плавки проб в производстве пробирных анализов минерального сырья, концентратов, пром. продуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epsht12.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epsht12/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПШТ-12
              </div>
             
              <div class="desc">
                Электропечь проточная шахтная тигельная на 12 тиглей емкостью 0,75л. предназначена для экспериментальной плавки проб в производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epsht24.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epsht24/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПШТ-24
              </div>
              
              <div class="desc">
                Электропечь проточная шахтная тигельная на 24 тигля объемом 0,75л предназначена для плавки проб в производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epsht30.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epsht30/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПШТ-30
              </div>
             
              <div class="desc">
                Электропечь проточная шахтная тигельная на 30 тиглей объемом 0,75л предназначена для плавки проб в массовом производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epkp15.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epkp15/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПКП-15
              </div>
              <div class="desc">
                Электропечь проточная камерная на 15 тиглей объемом 0,75л  предназначена для плавки проб в массовом производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
	   <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('epkp25.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/plavka/epkp25/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электропечь лабораторная ЭПКП-25
              </div>
              <div class="desc">
                Электропечь проточная камерная на 25 тиглей объемом 0,75л предназначена для плавки проб в массовом производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств, с целью пробирного концентрирования золота, серебра и металлов платиновой группы из проб в различные коллекторы – свинец, медь, олово, штейны для определения благородных металлов пробирно-инструментальными методами. Тележка разовой загрузки тиглей, тележка под загрузку тиглей, тележка с изложницами, вытяжной шкаф под шихтовку тиглей, ухват на 5 тиглей в комплект не входят и заказываются отдельно.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      
    </ons-list>

  </div>

</ons-page>  