<ons-page>
  <ons-toolbar modifier="opacity">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Прочее оборудование</div>
  </ons-toolbar>

  <div class="app-page">

    <ons-list modifier="categories">
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('udch.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/prochee/udch/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Установка для фиксации чайного листа УДЧ-36.8.
              </div>
             
              <div class="desc">
                Установка для фиксации чайного листа предназначен для сушки чайного листа и его депигментации при температуре 350Со.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('eshsv.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/prochee/eshsv/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Электрошкаф с выкатным подом ЭШСВ-17.20.13
              </div>
             
              <div class="desc">
                Электрошкаф с выкатным подом предназначен для сушки изделий из огнеупорного бетона при температуре до 3500С.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('vdp60.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/prochee/vdp60/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Делитель проб по удельному весу ВДП-60
              </div>
              
              <div class="desc">
                Делитель проб по удельному весу ВДП-60  – прибор, предназначенный для разделения геологических проб, предварительно измельченных, на пробы с разным удельным весом в воздушном потоке.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('vp1.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/prochee/vp1/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Вибропитатель ВП-1
              </div>
             
              <div class="desc">
                Вибропитатель ВП-1  – предназначен для перемещения сыпучего материала посредством колебаний рабочего лотка.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('purga5.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/prochee/purga5/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Мобильная пено машина Пурга-5
              </div>
              <div class="desc">
                Мобильная пено машина Пурга-5  предназначена для оказания помощи пожарным расчетам при проведении пожарно-спасательных работ.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      
    </ons-list>

  </div>

</ons-page>  