<ons-page>
  <ons-toolbar modifier="opacity">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Шихтовка проб</div>
  </ons-toolbar>

  <div class="app-page">

    <ons-list modifier="categories">
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('shvsh160921.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/shihtovka/shvsh/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Шкаф вытяжной ШВШ-1,6.0,9.2,1.
              </div>
             
              <div class="desc">
                Шкаф вытяжной предназначен для приготовления шихты из химических реагентов для использования при плавки проб в плавильной электропечи, а также для защиты обслуживающего персонала от пылевыделений химических реагентов.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('c50.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/shihtovka/c50/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Смеситель шихты С-50
              </div>
             
              <div class="desc">
                Смеситель шихты  предназначен для смешивания сухих сыпучих материалов для приготовления шихты для плавки проб в массовом производстве пробирных анализов минерального сырья, концентратов, промпродуктов и хвостов технологических производств.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      

      
    </ons-list>

  </div>

</ons-page>  