<ons-page>
  <ons-toolbar modifier="opacity">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Шкафы вытяжные</div>
  </ons-toolbar>

  <div class="app-page">

    <ons-list modifier="categories">
      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('shvv.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/shkafy/shvv/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Шкаф вытяжной ШВВ-0,8.0,5.1,5.
              </div>
             
              <div class="desc">
                Шкаф вытяжной (пост отбивки веркблеев) предназначен для отделения шлака от сплава и формирования веркблея, полученного в результате пробирной плавки пробы.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('shvp.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/shkafy/shvp/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Шкафы вытяжные ШВП-1,3.1,0.2,1 и ШВП-1,3.1,2.2,1
              </div>
             
              <div class="desc">
                Шкафы типа ШВП предназначены для установки приборов и оборудования применяемых в пробирном анализе. Вытяжные шкафы обеспечивают защиту обслуживающего персонала от тепловых и вредных пыле- и газо-выделений.
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item modifier="chevron" class="list-item-container" ng-click="gallery.pushPage('shvpe.html');">
        <ons-row>
          <ons-col width="125px">
            <img src="images/gallery/shkafy/shvpe/1.jpg" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="item-content">
              <div class="name">
                Шкафы вытяжные ШВПэ-1,3.1,0.2,1 и ШВПэ-1,3.1,2.2,1
              </div>
              
              <div class="desc">
                Шкафы типа ШВПэ предназначен для установки электропечей типа ЭПКО и ЭПКК для проведения процессов обжига проб или купелирования, применяемых в пробирном анализе определения содержания драгоценных металлов в рудах, промпродуктах и концентратах. 
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      

      
    </ons-list>

  </div>

</ons-page>  